---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "María, una estudiante de Píllaro, mejoró su puntaje en más de 200 puntos y logró ingresar a la carrera de Medicina en su primera postulación.",
    link: "#",
  },
  {
    index: 1,
    title:
      "Gracias a nuestro programa intensivo, Juan pasó de no comprender Matemáticas a obtener uno de los mejores puntajes en el examen de admisión.",
    link: "#",
  },
  {
    index: 2,
    title:
      "El 95% de nuestros estudiantes han logrado ingresar a la universidad en su primera o segunda postulación, gracias a nuestro enfoque personalizado y técnicas de estudio efectivas.",
    link: "#",
  },
];

import larrow from "../../assets/icon2.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Casos reales"
    description="Descubre historias reales de estudiantes que, con esfuerzo y nuestra preparación, lograron cumplir su sueño universitario."
    ;
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-white rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">Leer más</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
