---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Testimonios"
      description="Descubre lo que nuestros estudiantes dicen sobre su experiencia en nuestro pre y cómo lograron alcanzar su sueño universitario."
    />
    <div class="rounded-[45px] bg-dark mb-[90px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
